<html>
  <head>
    <title>Deepfake Detector</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/select">Select</a>
      <a href="/image">Image</a>
      <a href="/video">Video</a>
    </div>

    <div class="center-box">
      <h1>Deepfake Detector</h1>
      <p>Detect whether an image or video is Real or Fake using AI</p>

      <a href="/select">
        <button class="main-btn">Start Detection</button>
      </a>
    </div>
  </body>
</html>
